<%= link_to "Home", root_path %>
<h1> Here are the bottles in your Wine Cellar </h1>
  <% @bottles.each do |bottle| %>
    <%= link_to "#{bottle.name}", bottle_path(bottle) %>
    <br>
  <%end%>



<%= link_to "Add A Bottle", new_bottle_path %>
<%= link_to "Log Out", destroy_user_session_path %>
